h1{
   color: rgb(0, 136, 255);
   text-align: center;
   color: rgb(79, 61, 0);
   background-color: aliceblue;
   font-family: 'Georgia, 'Times New Roman', Times, serif;'
   
  }
h3{
  text-align: center;
  color: aliceblue;
  font-family: ' Georgia, 'Times New Roman', Times, serif;'
  }

body {
     background-image: url('/imagens/fundo-de-ripas-de-madeira-envelhecida.png');
     background-repeat: no-repeat;
     background-attachment: fixed; 
     background-size: 100% ;
     }

a{
 color: rgb(255, 255, 255);
 }

#imagens{
text-align: center;
background-color: rgb(126, 74, 51);
width: 75%;
position: absolute;
left: 15%;
 }

      